# Data & Datasets (Prevents uploading large files)
data/

# Machine Learning Artifacts (Models & Weights)
*.joblib

# Python Cache & System Files
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/
.vscode/
.DS_Store
.code-workspace
