# Data & Datasets (Prevents uploading large files)
# data/
*.csv
*.xlsx
*.parquet
*.json

# Machine Learning Artifacts (Models & Weights)
*.pkl
*.joblib
# models/
checkpoints/

# Python Cache & System Files
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/
.vscode/
.DS_Store
